WHATSAPP_TOKEN=EAAM9B6nkLVUBRNKKLEHx260fZANhjoRMWBDWMH2UDUgfiKprHkXAUgQDBmQH52p4VCbLkZCTLFtLDR9Kt8nRYFve8b1Rj5f72d1T8XQfvZCL4sCAQejEvYUyDkaaEG374LMwtlrT1iMkfsH0ACL9YV1G40TLlgAcT6YxpRj5YjWXZA9bJUSReY2vSWv7ZBgZDZD
WHATSAPP_PHONE_ID=685754001294382
WHATSAPP_VERIFY_TOKEN=1f927bf282048fc0ffe7d48ad11ddcd8
INACTIVITY_TEST_MODE=true
CHATWOOT_API_URL=https://chat.we-educacion-ejecutiva.site
CHATWOOT_API_TOKEN=7bw866qckGudJW3WNTFc43G5
CHATWOOT_INBOX_ID=1
CHATWOOT_ACCOUNT_ID=1
CHATWOOT_BOT_AGENT_ID=1
CHATWOOT_TEAM_ACADEMICO=1
CHATWOOT_TEAM_SOPORTE=2
CHATWOOT_TEAM_FINANZAS=4
CHATWOOT_TEAM_GENERAL=3

DATABASE_URL=postgresql://postgres:TuPasswordSeguro123@localhost:5432/neondb
 
OPENAI_API_KEY=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

PORT=3006
NODE_ENV=development

# Flujo personalizado por alumno verificado (Rama B en certificados, materiales, etc.)
# false = todos reciben flujo genérico, sin consultar BD por teléfono/correo
ENABLE_VERIFIED_FLOW=true

# Credenciales Odoo (dejar vacíos = usar mock interno)
ODOO_USER=csaavedra055@gmail.com
ODOO_PASS=csaavedra055@gmail.com5

TIMEZONE=America/Lima